.jcarousel-wrapper {
  margin: 40px auto;
  width: $width;
  position: relative;
}

/** Carousel **/

.jcarousel {
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.jcarousel ul {
    height: $height-carousel;
    width: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
  position: relative;
  width: $width;
  height: 100%;
  float: left;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%,0);
}

.jcarousel-pagination a {
    color: transparent;
    margin: 0 7px;
    background-color: white;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    display: block;
    float: left;
    width: 15px;
    height: 15px;
    transition: all .5s;
    &.active {
      border: 3px solid white;
        background-color: #001d1d;
    }
}
